@{
    ViewData["Title"] = "About this project";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<h2>This is not a serious project.</h2>
<p>It's a personal project that I made to get familiar with ASP.NET and ML.NET.</p>
<p>Note the accuracy might not be very good - depending on the sample data size.</p>
<p>For more info, visit these links:</p>
<p><a href="https://github.com/Stukeley/LoLWinLosePredictor">GitHub repo of this project</a></p>
<p><a href="http://stukeleyak.com/">A blog article explaining this project</a></p>