@{
    ViewData["Title"] = "Generate Data";
}

<div class="text-center">
    <h1 class="display-4">Generate data using your match history</h1>
    <p>Enter your username, pick a server and wait. The site will prompt you to download your serialized match data.</p>
</div>
<form action="/Generate/InfoSubmitted" method="post" style="margin-top:50px;">
    <input type="text" name="usernameData" style="margin-bottom:10px;"/>
    <fieldset style="margin-bottom:10px;">
        Region
        <select id="Region" name="region">
            <option value="Euw" selected="selected">Euw</option>
            <option value="Eune">Eune</option>
            <option value="Na">Na</option>
            <option value="Br">Br</option>
            <option value="Kr">Kr</option>
            <option value="Lan">Lan</option>
            <option value="Las">Las</option>
            <option value="Oce">Oce</option>
            <option value="Ru">Ru</option>
            <option value="Tr">Tr</option>
            <option value="Jp">Jp</option>
        </select>
        <p style="margin-top:10px;">
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
</form>